@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/* Обнуление */

*,
::before,
::after {
  box-sizing: border-box;
}

h1,h2,h3,h4,p {
  margin: 0;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* sticky footer */

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}
/* ------------- */

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
  background-color: #FEAFC3;
  margin: 0;
}

/* btn */

.btn {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  text-decoration: none;
  padding: 12px 32px;
  text-align: center;
}

.btn:hover {

  background: rgba(164, 155, 155, 0.4);
  border: 4px solid #FCFCFC;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.btn-red {
  line-height: 20px;
  color: #FCFCFC;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
}

.btn-red:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 4px solid #FF2F64;
  color: #2D3440;
}

.btn-pink {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

/* Container */

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*    INDEX
---------------- */

/* Header */

.menu {
  margin-bottom: 80px;
}

.nav{
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
}

.nav-left,
.nav-right,
.nav-list {
  display: flex;
  align-items: center;
}

.nav-list {
  flex-wrap: wrap;
}

.logo {
  margin-right: 16px;
}

.nav-item {
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.nav-link, .nav-link-user, .nav-link-catalog {
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  border-radius: 30px;
}

.nav-link-user {
  display: flex;
  align-items: center;
  border-radius: 30px;
  min-width: 35px;
  min-height: 35px;
  background: rgba(252, 252, 252, 0.3);
}

.nav-link, .nav-link-user {
  padding: 8px 16px;
}

.nav-link-catalog {
  font-size: 14px;
  display: none;
}

.nav-link-new, .nav-phone {
  font-weight: 700;
}

.nav-link-user :nth-child(n+2), .nav-link-search {
  font-size: 14px;
  background: rgba(252, 252, 252, 0.3);
}

.nav-link:hover, .nav-link-user :hover {
  background: rgba(252, 252, 252, 0.5);
}

.nav-link :focus, .nav-link-user :focus  {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
}

.nav-user .nav-phone, .nav-user :first-child {
  margin: 0;
}

.nav-user {
  margin: 0 -8px;
}

.nav-link-search {
  position: relative;
  padding: 8px;
  min-width: 33px;
  min-height: 33px;
}

.nav-icon-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-item .nav-icon {
  margin-right: 8px;
  fill: #0000;
}

/*    HERO    */

.menu-item{
  color: #2D3440;
  display: flex;
  align-items: center;
}

.menu-item-hidden {
  display: none;
}

.menu-left {
  width: 43%;
  margin-left: 70px;
}

.menu-right {
  width: 57%;
}

.slider-image-item-big {
  position: relative;
  background: url("../images/slider-big-bg.png") center no-repeat;
}

.slider-prev {
  position: absolute;
  top: 46%;
  left: 0;

  transform: translateX(-20px);
}

.slider-next {
  position: absolute;
  top: 46%;
  right: 0;

  transform: translateX(20px);
}

.slider-button {
  width: 40px;
  height: 40px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
}

.slider-image-item {
  width: 100px;
  text-align: center;
  background: url("../images/slider-bg.png") no-repeat center;
}

.slider-image-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 24px;
}

.menu-description {
  font-size: 18px;
  line-height: 24px;
  width: 429px;
  margin-bottom: 48px;
}

.bg-btn {
  background: #FCFCFC;
  border-radius: 100px;
  border: none;
  opacity: 0.3;

  min-width: 12px;
  min-height: 12px;
  margin: 0 4px;
}

.bg-btn-current {
  opacity: 1;
  background: #FCFCFC;
}

.hero-end {
  display: flex;
  justify-content: space-between;
}

.bg_color-list {
  display: flex;
  margin: -4px;
}

.social {
  display: flex;
  margin: -8px;
}

.social-item {
  min-width: 24px;
  min-height: 24px;
  margin: 0 8px;
}

/* promotions */

.promotions {
  margin-bottom: 80px;
}

.promotions-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  text-align: center;
  width: 434px;
  margin: 0 auto 55px;
}

.promotions-list {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
}

.promotions-item {
  display: flex;
  background-color: #FF7799;
  border-radius: 16px;
  width: 570px;
}

.promotions-content {
  padding: 36px 0 36px 36px;
}

.promotion-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin-bottom: 28px;
}

.promotions-text {
  color: #2D3440;
  margin-bottom: 40px;
}

/* popular-flavors */

.popular-flavors {
  margin-bottom: 80px;
}

.popular-flavors-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  text-align: center;

  width: 527px;
  margin: 0 auto 106px;
}

.flavors-subtitle {
  margin-bottom: 8px;
}

.flavors-list,
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  margin-bottom: 16px;
}

.flavors-item,
.product-item {
  background: #FCFCFC;
  border-radius: 8px;
  text-align: center;

  width: 270px;
  height: 281px;
}

.flavors-img,
.product-img {
  margin: -60px 0 16px;
  border-radius: 50%;
}

.flavors-content {
  padding: 0 40px 24px;
}

.flavors-text {
  margin-bottom: 16px;
}

.flavors-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flavors-subtitle,
.product-title /* catalog.html */ {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.flavors-price,
.product-price /* catalog.html */ {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.btn-basket {
  position: relative;
  align-items: center;
  padding: 8px 11px;
  background: #FF2F64;
  border-radius: 26px;
  min-width: 32px;
  min-height: 32px;
  border: 2px solid #FF2F64;
}

.btn-basket:hover {
  background: rgba(252, 252, 252, 0.3);
}

.btn-basket:hover .flavors-icon{
  fill: #2D3440;
}

.flavors-icon {
  position: absolute;
  left: 6px;
  top: 7px
}

/* advantages */

.advantages {
  background: url("../images/advantages-bg.png") no-repeat;
  border-radius: 16px;

  padding: 24px;
  margin-bottom: 80px;
}

.advantages-inner {
  padding: 56px 40px 16px;
  background: #FFFFFF;
  border-radius: 16px;
}

.advantages-title {
  font-weight: 900;
  font-size: 32px;color: #2D3440;
  line-height: 46px;

  text-align: center;
  margin-bottom: 56px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -16px;
}

.advantages-item {
  width: 505px;

  display: flex;
  margin: 0 16px 40px;
}

.advantages-img {
  margin-right: 16px;
}

/* news-blog */


.news-blog {
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
}

.blog {
  width: 570px;
  height: 224px;
  border-radius: 16px;
  background: url('../images/blog-bg.png') no-repeat;
}

.blog-inner {
  width: 400px;
  padding: 32px;
}

.blog-text {
  line-height: 20px;
}

.blog-title {
  margin-top: 12px;
}

.blog-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  text-decoration: none;
}

.newsletter {
  width: 570px;
  height: 224px;
  border-radius: 16px;
  background: url('../images/newsletter-bg.png') no-repeat;

  padding: 6px;
}

.newsletter-inner {
  padding: 26px;
  border-radius: 16px;
  background: #FFFFFF;
}

.newsletter-text {
  margin-bottom: 42px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.newsletter-input {
  width: 332px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

/* delivery */

.delivery {
  width: 1170px;
  height: 534px;
  border-radius: 16px;
  background: url('../images/delivery-bg.png') no-repeat;

  padding: 64px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.delivery-text {
  width: 371px;
  margin-top: 103px;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;

  margin-bottom: 24px;
}

.delivery-right {
  padding: 40px;
  width: 500px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.delivery-label {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  display: block;
}

.delivery-input {
  line-height: 20px;
  color: #B9B9B9;
  padding: 14px 16px;
}

.delivery-input-date {
  width: 117px;
  margin: 0 16px 20px 0;
}

.delivery-input-phone {
  width: 287px;
}

.delivery-input-address {
  width: 420px;
  margin-bottom: 32px;
}

/* contacts */

.contacts {
  width: 1170px;
  height: 492px;
  border-radius: 16px;
  background: url('../images/contacts-bg.png') no-repeat;
  padding: 64px;
}

.contacts-inner {
  padding: 40px;
  width: 343px;
  height: 354px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-info {
  font-style: normal;
}

.contacts-address {
  margin-bottom: 24px;
}

.contacts-address-title {
  display: block;
  width: 179px;
  margin-bottom: 12px;
}

.contacts-address-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin-bottom: 24px;
}

.contacts-phone {
  margin-bottom: 32px;
}

.contacts-phone-title {
  display: block;
  margin-bottom: 12px;
}

.contacts-phone-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin-top: 12px;
  text-decoration: none;
  display: block;
}

.contacts-phone-text {
  font-size: 14px;
  line-height: 20px;
}

/* FOOTER */

.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}

.footer-info-list {
  display: flex;
  width: 356px;
  flex-wrap: wrap;
}

.footer-info-img {
  display: block;
  margin: 4px 8px 0 0;
}

.footer-info-left {
  margin-right: 24px;
}

.footer-info-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-heart {
  font-weight: 700;
  color: #2D3440;
}

.footer-academy-logo {
  margin-bottom: 10px;
}

.footer-academy-text {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.footer-academy-link {
  color: #2D3440;
  text-decoration: none;
  border-bottom: 1px solid #2D3440;
}


/*    CATALOG
----------------- */

/* header-breadcrumbs */

.header-breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: flex;
  margin-bottom: 16px;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid #2D3440;
}

.header-breadcrumbs-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

/* catalog-filter */

.catalog-filter {
  margin-bottom: 90px;
}

.catalof-form-bg {
  padding: 8px 16px;
  background-color: #FCFCFC;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.3);
}

.catalog-form-title,
.catalog-form-option,
.catalog-form-span {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.catalog-form-group {
  border: 0;
  margin: 0 12px;
  padding: 0;
}

.catalog-form-title {
  margin-bottom: 8px;
}

.catalog-form :first-child {
  margin-left: 0;
}

.catalog-form,
.catalog-form-list {
  display: flex;
  flex-wrap: wrap;
}

/* product-card (часть в 'popular-flavors')*/

.product-item {
  margin-bottom: 90px;
}

.product-content {
  padding: 0 40px 24px;
}

a.product-item-link {
  text-decoration: none;
}

.product-title {
  margin-bottom: 8px;
  color: #2D3440;
}

.product-description {
  margin-bottom: 16px;
  color: #565C66;
}

.pagination-current {
  background: #FCFCFC;
  border-radius: 50px;
}

.pagination-link {
  padding: 2px 8px;
  color: #2D3440;
  text-decoration: none;
}

/* pagination */

.pagination {
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.pagination-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.pagination-list {
  display: flex;
}


.pagination-hidden {
  width: 150px;
}
