@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/* Обнуление */

*,
::before,
::after {
  box-sizing: border-box;
}

h1,h2,h3,h4,p {
  margin: 0;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* sticky footer */

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}
/* ------------- */

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565C66;
  background-color: #FEAFC3;
  margin: 0;
}

/* btn */

.btn {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  text-decoration: none;
  padding: 12px 32px;
  text-align: center;
}

/* Container */

.container {
  max-width: 1170px;
  margin: 0 auto;
}


/*    INDEX
---------------- */

/* Header */

.menu {
  margin-bottom: 80px;
}

.nav{
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
}

.nav-left,
.nav-right,
.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 16px;
}

.nav-item {
  padding: 8px 16px;
}

.nav-link, .nav-link-catalog {
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.nav-link-catalog {
  font-size: 14px;
  display: none;
}

.nav-link-new, .nav-phone {
  font-weight: 700;
}

.nav-user .nav-item {
 margin: 0 8px;
}

.nav-user :nth-child(n+2) {
  font-size: 14px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.nav-user :first-child {
  padding: 0;
}

.nav-user {
  margin: 0 -8px;
}

/* Hero */

.menu-item{
  color: #2D3440;
  display: flex;
  align-items: center;
}

.menu-left {
  width: 40%;
  margin-left: 70px;
}

.menu-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 24px;
}

.menu-description {
  font-size: 18px;
  line-height: 24px;
  width: 429px;
  margin-bottom: 48px;
}

.slider-button {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
}

.bg-btn {
  background: #FCFCFC;
  border-radius: 100px;
  border: none;
  opacity: 0.3;
}

.bg-btn-current {
  opacity: 1;
  background: #FCFCFC;
}

.hero-end {
  display: flex;
  justify-content: space-between;
}

.bg_color-list {
  display: flex;
}

.social {
  display: flex;
}

/* promotions */

.promotions {
  margin-bottom: 80px;
}

.promotions-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  text-align: center;
  width: 434px;
  margin: 0 auto 55px;
}

.promotions-list {
  display: flex;
  justify-content: space-between;
}

.promotions-item {
  display: flex;
  background-color: #FF7799;
  border-radius: 16px;
  width: 570px;
}

.promotions-content {
  padding: 36px 0 36px 36px;
}

.promotion-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  margin-bottom: 28px;
}

.promotions-text {
  color: #2D3440;
  margin-bottom: 40px;
}

/* popular-flavors */

.popular-flavors {
  margin-bottom: 80px;
}

.popular-flavors-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  text-align: center;

  width: 527px;
  margin: 0 auto 106px;
}

.flavors-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -15px;
}

.flavors-item,
.product-item {
  background: #FCFCFC;
  border-radius: 8px;
  text-align: center;

  width: 270px;
  height: 281px;
  margin: 0 15px;
}

.flavors-img {
  margin: -50px 0 16px;
  border-radius: 50%;
}

.flavors-content {
  padding: 0 40px 24px;
}

.flavors-text {
  margin-bottom: 16px;
}

.flavors-end {
  display: flex;
  justify-content: space-between;
}

.flavors-subtitle,
.product-title /* catalog.html */ {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.flavors-price,
.product-price /* catalog.html */ {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.btn-basket {
  align-items: center;
  padding: 8px 11px;
  background: #FF2F64;
  border-radius: 26px;
}

/* advantages */

.advantages {
  background: url("../images/advantages-bg.png") no-repeat;
  border-radius: 16px;
}

.advantages-inner {
  padding: 56px 40px;
  background: #FFFFFF;
  border-radius: 16px;
}

.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

/* news-blog */

.blog {
  width: 570px;
  height: 224px;
  border-radius: 16px;
  background: url('../images/blog-bg.png') no-repeat;
}

.blog-text {
  line-height: 20px;
}

.blog-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  text-decoration: none;
}

.newsletter {
  width: 570px;
  height: 224px;
  border-radius: 16px;
  background: url('../images/newsletter-bg.png') no-repeat;
}

.newsletter-inner {
  padding: 26px;
  border-radius: 16px;
  background: #FFFFFF;
}

.btn-red {
  line-height: 20px;
  color: #FCFCFC;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
}

.newsletter-input {
  width: 332px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

/* delivery */

.delivery {
  width: 1170px;
  height: 534px;
  border-radius: 16px;
  background: url('../images/delivery-bg.png') no-repeat;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

.delivery-form {
  padding: 40px;
  width: 500px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-label {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
}

.delivery-input {
  line-height: 20px;
  color: #B9B9B9;
}

/* contacts */

.contacts {
  width: 1170px;
  height: 492px;
  border-radius: 16px;
  background: url('../images/contacts-bg.png') no-repeat;
}

.contacts-inner {
  padding: 40px;
  width: 343px;
  height: 354px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-address-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.contacts-phone-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.contacts-phone-text {
  font-size: 14px;
  line-height: 20px;
}

/* FOOTER */

.footer-info-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-heart {
  font-weight: 700;
  color: #2D3440;
}

.footer-academy-text {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.footer-academy-link {
  color: #2D3440;
  text-decoration: none;
  border-bottom: 1px solid #2D3440;
}


/*    CATALOG
----------------- */

/* header-breadcrumbs */

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid #2D3440;
}

.header-breadcrumbs-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

/* catalog-filter */

.catalog-form-title,
.catalog-form-option,
.catalog-form-span {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.btn-pink {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

/* product-card (часть в 'popular-flavors')*/

a.product-item-link {
  text-decoration: none;
}

.pagination-current {
  background: #FCFCFC;
  border-radius: 50px;
}

.pagination-link {
  padding: 2px 8px;
  color: #2D3440;
  text-decoration: none;
}


